<div class="admin">
<header class="header">
  <a routerLink="/admin/patient" class="logo">Tri Peaks</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a routerLink="/admin/patient" routerLinkActive="active">Pacienti</a></li>
    <li><a routerLink="/admin/vaccine" routerLinkActive="active">Vakcíny</a></li>
  </ul>
</header>
</div>
<br><br><br>
<router-outlet></router-outlet>

<!--TODO FOOTER-->
<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-6 col-md">


      <h5><img class="mb-2" src="/assets/syringe.png" alt="" width="30" height="30">Zaockovania za den</h5>
      <span class="nczi-vaccine-num" *ngIf="vaccinations != null && vaccinations.sum != null">
          {{vaccinations.sum}}
      </span>
    </div>
    <div class="col-6 col-md">
      <h5>Pacienti v nemocniciach</h5>
    </div>
  </div>
</footer>
</div>
