<header class="header">
  <a routerLink="/admin/patient" class="logo">Tri Peaks</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a routerLink="/admin/patient" routerLinkActive="active">Pacienti</a></li>
    <li><a routerLink="/admin/vaccine" routerLinkActive="active">Vakcíny</a></li>
  </ul>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>

<!--TODO FOOTER-->
<footer class=" admin-footer ">
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <hr class="hrfooter">
      <h5><img class="mb-2" src="/assets/syringe.png" alt="" width="30" height="30">Zaočkovania za deň</h5>
      <hr class="hrfooter">
      <p class="nczi-vaccine-num" *ngIf="vaccinations != null && vaccinations.sum != null">
          {{vaccinations.sum}}
      </p>
      <hr class="hrfooter">
      <h5><img class="mb-2" src="/assets/syringe.png" alt="" width="30" height="30">Počet zaočkovaných na Slovensku</h5>
      <hr class="hrfooter">
      <p>000</p>
    </div>
    <div class="col-md-4">
      <hr class="hrfooter">
      <h5><img class="mb-2" src="/assets/patient.png" alt="" width="44" height="30">Pacienti v nemocniciach</h5>
      <hr class="hrfooter">
      <p class="nczi-patient-num" *ngIf="hospitalPatients != null && hospitalPatients.sum != null">
        {{hospitalPatients.sum}}
      </p>
      <hr class="hrfooter">
      <h5><img class="mb-2" src="/assets/sick.png" alt="" width="34" height="30">Celkový počet pozitívnych AG testov</h5>
      <hr class="hrfooter">
      <p class="nczi-patient-num" *ngIf="positivePatients != null && positivePatients.sum != null">
        {{positivePatients.sum}}
      </p>
    </div>
    <div class="col-md-4">
      <hr class="hrfooter">
      <h5><img class="mb-2" src="/assets/3peaks.png" alt="" width="34" height="30"><b>Tri Peaks</b></h5>
      <hr class="hrfooter">
      <p>Tajovského 40</p>
      <p>974 01 Banská Bystrica</p>
      <p>github.com/MichalToth5/3-peaks_frontEnd</p>
      <p>github.com/MichalToth5/3-peaks_backEnd</p>
    </div>
    <div class="col-12">
      <hr class="hrfooter2">
      <h5>&copy; tripeaks.com</h5>
    </div>
  </div>
</div>
</footer>

