body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}
/*---*//*NAVBAR*//*---*/

/*bg color for navbar*/
.nav-main{
  background-color: #fdebdf;
  margin-bottom: 10px;
}
.button-nav{
  background-color: #fdebdf;
  border-color: #fac099;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 12px;
}
.button-nav:hover{
  background-color: #fac099;
}
.logo-nav img{
  margin-left: 10px;
  margin-top: 5px;
  height: 60px;
  width: 150px;
  /*width: 130px;*/
}
.logo-nav img:hover{
  cursor: pointer;
}

/*---*//*FOOTER*//*---*/
.footer{
  background-color:  #fdebdf;
}
.footer-header{
  border: 1px solid #fac099;
  border-radius: 12px;
  margin: 10px 0;
}
.footer-image{
  margin: 15px 10px;
  height: 50px;
  width: 50px;
}
.footer-nczi-number{
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
}
.footer-informations{
  margin: 15px 10px;
}
.list-group{
  margin: 10px 0;
}
.list-group-item{
  background-color: #fdebdf;
  text-align: center;
}
.footer-links{
  text-decoration: none;
  color: black;
}

/*.footer-header{*/
/*  padding-bottom: 40px;*/
/*}*/
/*.footer-header-text{*/
/*  border: 2px solid black;*/
/*  border-top: none;*/
/*  border-bottom-right-radius: 12px;*/
/*  border-bottom-left-radius: 12px;*/
/*}*/
/*.footer-header-text{*/
/*  padding: 10px 0;*/
/*  text-align: center;*/
/*}*/
/*.footer-nczi-number{*/
/*  font-weight: bold;*/
/*  font-size: 40px;*/
/*  text-align: right;*/
/*}*/

/*.nczi-vaccine-num{*/
/*  font-weight: bold;*/
/*}*/
/*.nczi-patient-num{*/
/*  font-weight: bold;*/
/*}*/
/*.admin-footer {*/
/*  background-color: #fac099;*/
/*  color: #000000;*/
/*  padding-top: 2rem;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 357px;*/
/*}*/
/*hr.hrfooter {*/
/*  border-top: 1px solid #000000;*/
/*  width: 100%;*/
/*  margin-top: .8rem;*/
/*  margin-bottom: 1rem;*/
/*}*/
/*hr.hrfooter2 {*/
/*  border-top: 1px solid #ffffff;*/
/*  width: 100%;*/
/*  margin-top: .8rem;*/
/*  margin-bottom: 1rem;*/
/*}*/

.content {
  min-height: calc(100% - 68px - 357px);
}
