<!--NAVBAR-->
<div class="d-flex justify-content-between nav-main">
  <div class="logo-nav">
    <img routerLink="/admin/patient" src="/assets/logo-evacc.png">
  </div>
  <div class="p-2">
    <button routerLink="/admin/patient" routerLinkActive="active" class="btn button-nav">Pacienti</button>
    <button routerLink="/admin/vaccine" routerLinkActive="active" class="btn button-nav">Vakciny</button>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn button-nav" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="odhlasenie()">Odhlásiť sa</button>
<!--        <button ngbDropdownItem (click)="prihlasenie()">prihlasit  sa</button>-->
      </div>
    </div>
  </div>
</div>

<!--CONTENT-->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row footer-header d-flex justify-content-center text-center">
          <div class="footer-header-text" style="font-weight: bold"><img class="footer-image" src="/assets/syringe.png">Zaočkovania za deň</div>
          <div class="footer-nczi-number" *ngIf="vaccinations != null && vaccinations.sum != null">
            {{vaccinations.sum}}
          </div>
        </div>
        <div class="row footer-header d-flex justify-content-center text-center">
          <div class="footer-header-text" style="font-weight: bold"><img  class="footer-image" src="/assets/sick.png">Pacienti v nemocniciach</div>
          <div class="footer-nczi-number" *ngIf="hospitalPatients != null && hospitalPatients.sum != null">
            {{hospitalPatients.sum}}
          </div>
        </div>
        <div class="row footer-header d-flex justify-content-center text-center">
          <div class="footer-header-text" style="font-weight: bold"><img class="footer-image" src="/assets/tests.png">Celkový počet pozitívnych AG testov</div>
          <div class="footer-nczi-number" *ngIf="positivePatients != null && positivePatients.sum != null">
            {{positivePatients.sum}}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row footer-informations">
          <div class="col-12 d-flex justify-content-center">
            <h3 style="font-weight: bold">Užitočné odkazy</h3>
          </div>
            <div class="col-12 d-flex justify-content-center">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="footer-links" href="https://data.korona.gov.sk/" target="_blank">NCZI & IZA API</a></li>
                <li class="list-group-item"><a class="footer-links" href="https://www.slovenskoproticovidu.sk/sk/" target="_blank">Slovensko proti Covidu</a></li>
                <li class="list-group-item"><a class="footer-links" routerLink="/admin/informations" target="_blank">Informácie o aplikácii</a></li>
                <span class="d-flex justify-content-center" style="font-weight: bold">&copy; TriPeaks 2022</span>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>


            <!--<footer class="admin-footer ">-->
<!--<div class="container-fluid padding">-->
<!--  <div class="row text-center">-->
<!--    <div class="col-md-4">-->
<!--      <hr class="hrfooter">-->
<!--      <h5><img class="mb-2" src="/assets/syringe.png" alt="" width="30" height="30"><b>NCZI informácie</b></h5>-->
<!--      <hr class="hrfooter">-->
<!--      <p>https://www.nczisk.sk</p>-->
<!--      <hr class="hrfooter">-->
<!--      <h5><img class="mb-2" src="/assets/syringe.png" alt="" width="30" height="30">Zaočkovania za deň</h5>-->
<!--      <hr class="hrfooter">-->
<!--      <p class="nczi-vaccine-num" *ngIf="vaccinations != null && vaccinations.sum != null">-->
<!--        {{vaccinations.sum}}-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <hr class="hrfooter">-->
<!--      <h5><img class="mb-2" src="/assets/tests.png" alt="" width="44" height="30">Pacienti v nemocniciach</h5>-->
<!--      <hr class="hrfooter">-->
<!--      <p class="nczi-patient-num" *ngIf="hospitalPatients != null && hospitalPatients.sum != null">-->
<!--        {{hospitalPatients.sum}}-->
<!--      </p>-->
<!--      <hr class="hrfooter">-->
<!--      <h5><img class="mb-2" src="/assets/sick.png" alt="" width="34" height="30">Celkový počet pozitívnych AG testov</h5>-->
<!--      <hr class="hrfooter">-->
<!--      <p class="nczi-patient-num" *ngIf="positivePatients != null && positivePatients.sum != null">-->
<!--        {{positivePatients.sum}}-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <hr class="hrfooter">-->
<!--      <h5><img class="mb-2" src="/assets/3peaks.png" alt="" width="34" height="30"><b>Tri Peaks</b></h5>-->
<!--      <hr class="hrfooter">-->
<!--      <p>Tajovského 40</p>-->
<!--      <p>974 01 Banská Bystrica</p>-->
<!--      <p>github.com/MichalToth5/3-peaks_frontEnd</p>-->
<!--      <p>github.com/MichalToth5/3-peaks_backEnd</p>-->
<!--    </div>-->
<!--    <div class="col-12">-->
<!--      <hr class="hrfooter2">-->
<!--      <h5>&copy; tripeaks.com</h5>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</footer>-->

