
<div>
  <table class="table">
    <tr>
      <th scope="col">Meno</th>
      <th scope="col">Rodne cislo</th>
      <th scope="col">Datum narodenia</th>
      <th scope="col">Adresa</th>
      <th scope="col">Pocet Davok</th>
      <th scope="col">Plna zaockovanost od</th>
    </tr>
    <!--TODO doplnenie info do tabulky o pocte davok a plnej zaockovanosti, prepojenie na vaccineShot -->
    <tr *ngFor="let p of patients">
      <td>{{p.firstName + p.lastName}}</td>
      <td>{{p.idNumber}}</td>
      <td>{{p.dateOfBirth}}</td>
      <td>{{p.city + ', ' + p.street}}</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>
