
<div class="container">
  <h3>Zoznam vakcín:</h3>
  <a href="/admin/vaccine/add" class="button_add" type="button" style="float: right;">Pridať vakcinu</a>
  <div *ngIf="!vaccines || vaccines?.length === 0">
    <div>
      Zoznam vakcín je prázdny.<br>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Názov</th>
          <th scope="col">Typ</th>
          <th scope="col">Výrobca</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of vaccines">
        <td>{{v.name}}</td>
        <td>{{v.type}}</td>
        <td>{{v.manufacturer}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-4">
</div>
