<div class="container">
  <h3 class="informations-header">O aplikácii</h3>
  <p class="informations-content">
    Táto aplikácia je výsledkom 13 týždňovej tímovej práce na zadaní <b>Evidencia očkovaných ľudí</b>.
    Na vývoji tejto aplikácie sa podielali:
  </p>
    <ul class="col-4 list-group list-group-flush">
      <li class="list-group-item"><a class="informations-links" href="https://github.com/AnetaSzolikova">Aneta Szolíková</a></li>
      <li class="list-group-item"><a class="informations-links" href="https://github.com/MichalToth5">Michal Tóth</a></li>
      <li class="list-group-item"><a class="informations-links" href="https://github.com/aulinka">Laura Mikušová</a></li>
    </ul>
  <h3 class="informations-header">
    Odkaz na GitHub
  </h3>
  <ul class="col-4 list-group list-group-flush">
    <li class="list-group-item"><a class="informations-links" href="https://github.com/MichalToth5/3-peaks_frontEnd">FrontEnd</a></li>
    <li class="list-group-item"><a class="informations-links" href="https://github.com/MichalToth5/3-peaks_backEnd">BackEnd</a></li>
  </ul>


</div>
