.button {
  background-color: #fac099;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.my-4{
  display: block; height: 1px;
  border: 0; border-top: 10px solid #e96f26;
  margin: 1em 0; padding: 0;
}
