<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<h2 class="text-center">Pridávanie nových pacientov</h2><br>

<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Osobné informácie</h3>
        <hr class="my-4">
        <label>Meno: <input formControlName="firstName"></label><br>
        <label>Priezvisko: <input formControlName="lastName"></label><br>
        <label>Identifikačné číslo: <input formControlName="idNumber"></label><br>
        <label>Dátum narodenia: <input formControlName="dateOfBirth"></label><br>
        <label>Pohlavie: <input formControlName="sex"></label><br>
      </div>
      <div class="col-sm-4">
        <h3>Kontaktné údaje</h3>
        <hr class="my-4">
        <label>Telefónne číslo: <input formControlName="telephoneNumber"></label><br>
        <label>Email: <input formControlName="emailAddrs"></label><br>
        <label>Zdravotná poisťovňa: <input formControlName="insuranceCmp"></label><br><br>
      </div>
      <div class="col-sm-4">
        <h3>Adresa</h3>
        <hr class="my-4">
        <label>Ulica: <input formControlName="street"></label><br>
        <label>Číslo domu: <input formControlName="houseNumber"></label><br>
        <label>PSČ: <input formControlName="postCode"></label><br>
        <label>Mesto: <input formControlName="city"></label><br>
        <label>Štát: <input formControlName="country"></label><br><br>
      </div>
    </div>

    <button (click)="addPatient()"  *ngIf="form.value.id === null"type="button" class="btn">Pridať pacienta</button>
  </div>
  <hr class="my-4">
</form>
