.patient-form-button-group{
  text-align: center;
}
.patient-form-button {
  border: none;
  border-color: #fdebdf;
  border-radius: 12px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #fdebdf;
  color: black;
}
.patient-form-button:hover {
  background-color: #fac099;
}
.my-4{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fac099;
  margin: 1em 0;
  padding: 0;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

