
<div class="container">
  <div class="jumbotron text-center" style="background-color: white">
    <h1>Pacienti</h1>
    <hr class="my-4">
  </div>
  <h1 *ngIf="id == null" class="text-center">Pridávanie nových pacientov</h1>
  <h1 *ngIf="id != null" class="text-center">Upravenie pacienta</h1>
  <br>
  <form [formGroup]="form">
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <h3>Osobné informácie</h3>
          <hr class="my-4">
          <div class="form-group">
            <label>Meno:</label>
            <input class="form-control" formControlName="firstName"><br>
          </div>
          <div class="form-group">
            <label>Priezvisko:</label>
            <input class="form-control" formControlName="lastName"><br>
          </div>
          <div class="form-group">
            <label>Rodné číslo:</label>
            <input class="form-control" formControlName="idNumber"><br>
          </div>
          <label>Dátum narodenia:</label>
          <div class="form-group input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar3 icon-form" (click)="d.toggle()"></i></span>
            <input class= "form-control" placeholder="dd/mm/yyyy" formControlName="dateOfBirth" type="text"
                   ngbDatepicker #d="ngbDatepicker"
                   [minDate]="{year: 1900, month: 1, day: 1}"
                   [maxDate]="{year: 2048, month: 12, day: 31}"
            />

<!--            <button (click)="d.toggle()">Toggle</button>-->
<!--            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>-->
<!--            <button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>-->
<!--            <input class="form-control" formControlName="dateOfBirth" type="date"-->
<!--                   min="1930-01-01" max="2022-05-31"><br>-->
          </div>
          <div class="form-group">
            <label>Pohlavie:</label>
            <select class="form-select" formControlName="sex">
              <option value="female">Žena</option>
              <option value="male">Muž</option>
              <option value="other">Iné</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Kontaktné údaje</h3>
          <hr class="my-4">
          <div>
            <label>Telefónne číslo:</label>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="telephoneNumber"  aria-label="Username" aria-describedby="basic-addon1">
            </div> <br>
            <div>
              <label>Email:</label>
              <input class="form-control" formControlName="emailAddrs" ><br>
            </div>
            <div class="form-group">
              <label>Zdravotná poisťovňa:</label>
              <select class="form-select" formControlName="insurance">
                <option>Dôvera</option>
                <option>Union</option>
                <option>Všeobecná Zdravotná poisťovňa</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>Adresa</h3>
          <hr class="my-4">
          <div class="form-group">
            <label>Ulica:</label>
            <input class="form-control" formControlName="street" ><br>
          </div>
          <div class="form-group">
            <label>Číslo domu:</label>
            <input class="form-control" formControlName="houseNumber" ><br>
          </div>
          <div class="form-group">
            <label>PSČ:</label>
            <input class="form-control" formControlName="postCode" ><br>
          </div>
          <div class="form-group">
            <label>Mesto:</label>
            <input class="form-control" formControlName="city"><br>
          </div>
          <div class="form-group">
            <label>Štát:</label>
            <input class="form-control" formControlName="country"><br><br>
          </div>
        </div>
      </div>
      <div class="patient-form-button-group">
        <button (click)="updatePatient()"  *ngIf="form.value.id != null" type="button" class="patient-form-button">Update pacienta</button>
        <button (click)="deletePatient()"  *ngIf="form.value.id != null" type="button" class="patient-form-button">Vymazať pacienta</button>
        <button (click)="addPatient()"  *ngIf="form.value.id === null" type="button" class="patient-form-button">Pridať pacienta</button>
        <button (click)="goBack()" type="button" class="patient-form-button">Späť</button>
      </div>
    </div>
  </form>
  <div class="table-vaccineShots" *ngIf="form.value.id != null">
    <hr class="my-4">
    <table class="table">
      <thead>
        <tr>
          <th>Dávka</th>
          <th>Typ vakcíny</th>
          <th>Šarža</th>
          <th>Doktor</th>
          <th>Dátum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shot of vaccineShots; let i = index" (click)="editVaccineShot(shot.id)">
          <td>{{i + 1}}.</td>
          <td>{{shot.vaccine.manufacturer}}, {{shot.vaccine.name}}, {{shot.vaccine.type}}</td>
          <td>{{shot.batch}}</td>
          <td>{{shot.doctor}}</td>
          <td>{{shot.dateOfShot}}</td>
        </tr>
      </tbody>
    </table>
    <div class="patient-form-button-group">
      <button (click)="addVaccineShot()" type="button" class="patient-form-button">Pridať vakcínu</button>
    </div>
  </div>
</div>

<!--TODO modal window pri odstranovani-->
<!--<div class="modal show fade" style="display: block" tabindex="-1">&ndash;&gt;-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Modal title</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>Modal body text goes here.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
