<div class="container">
  <h3>Zoznam pacientov:</h3>
  <!--SEARCH BAR-->
  <div class="d-flex justify-content-between">
    <div class="search-bar">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" [(ngModel)]="searchAttr" (ngModelChange)="search()" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
      </span>
      </div>
    </div>
    <a href="/admin/patient/add" class="patient-list-button" type="button" style="float: right;">Pridať pacienta</a>
  </div>
  <div *ngIf="!patients || patients?.length === 0">
    <div>
      Zoznam pacientov je prázdny.
    </div>
  </div>
  <div>
    <div class="patient-list">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Meno</th>
          <th scope="col">Rodné číslo</th>
          <th scope="col">Dátum narodenia</th>
          <th scope="col">Adresa</th>
          <th scope="col">Počet dávok</th>
          <th scope="col">Plná zaočkovanosť od</th>
        </tr>
        </thead>
        <!--TODO doplnenie info do tabulky o pocte davok a plnej zaockovanosti, prepojenie na vaccineShot -->
        <tbody>
        <tr *ngFor="let p of patients" (click)="displayPatient(p.id)">
          <td>{{p.firstName +' ' + p.lastName}}</td>
          <td>{{p.idNumber}}</td>
          <td>{{p.dateOfBirth}}</td>
          <td>{{p.city + ', ' + p.street}}</td>
          <td>0</td>
          <td>0</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <hr class="my-4">
</div>
