<div class="container">
  <h3>Zoznam pacientov:</h3>
  <a href="/admin/patient/add" class="button_add" type="button" style="float: right;">Pridať pacienta</a>
  <div *ngIf="!patients || patients?.length === 0">
    <div>
      Zoznam pacientov je prázdny.
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Meno</th>
          <th scope="col">Rodne cislo</th>
          <th scope="col">Datum narodenia</th>
          <th scope="col">Adresa</th>
          <th scope="col">Pocet Davok</th>
          <th scope="col">Plna zaockovanost od</th>
        </tr>
      </thead>
      <!--TODO doplnenie info do tabulky o pocte davok a plnej zaockovanosti, prepojenie na vaccineShot -->
      <tbody>
      <tr *ngFor="let p of patients">
        <td>{{p.firstName +' ' + p.lastName}}</td>
        <td>{{p.idNumber}}</td>
        <td>{{p.dateOfBirth}}</td>
        <td>{{p.city + ', ' + p.street}}</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-4">
</div>
